fastapi
uvicorn
python-multipart
python-dotenv
openpyxl
pywin32; platform_system=="Windows"
langchain
langchain-text-splitters
langchain-openai
langchain-community
openai
azure-core
azure-search-documents
azure-storage-blob
pyodbc
docxtpl
python-docx
python-pptx
requests
sqlalchemy
